@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  color: white;
  background-color: #202731;
}

/* navbar start */
.navbar {
  width: 100%;
  height: 7vh;
  min-height: 65px;
  background-color: black;
  display: flex;
  justify-content: center;
  position: fixed;
}

.navbar .menu-container {
  display: flex;
  width: 75vw;
  justify-content: space-evenly;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
  cursor: pointer;
}

/* navbar end */

/* section start */
section {
  display: grid;
  place-items: center;
  align-content: center;
  height: 100vh;
  position: relative;
}

.about-container{
  width: 40vw;
  height: 35vh;
}

.static-sentence span {
  color: #0ef;
  text-shadow: 0 0 10px #0ef;
}


.projects {
  background-color: #888277;
  background-size: cover;
  aspect-ratio: 960/540;
  width: 100%;
  background-image: url(/circle-scatter-haikei.svg);
}

/* section end */

/* footer start */

/* footer end */

footer {
  display: grid;
  place-items: center;
  align-content: center;
  background-color: #888277;
  padding-block: 10px;
}

/* utility class start */
.hidden {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateX(-100%);
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.spacer {
  width: 100%;
  aspect-ratio: 900/200;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wave-background {
  background-image: url(/layered-waves-haikei.svg);
}

.flip {
  transform: rotate(180deg);
}

/* utility class end */


@media screen and (max-width:500px)   {
  .projects{
    font-size: 10px;
  }
}