* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
}

.img-logo,
.text-logo {
  width: auto;
  height: 30px;
  margin-left: 10px;
  margin-top: 3px;
}

nav ul {
  margin-right: 2em;
}
ul li {
  display: inline-block;
  margin: 4px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li a {
  text-decoration: none;
}

li a:hover {
  text-shadow: 1px 4px 8px black;
}

header {
  background-color: beige;
  height: 40px;
  width: 100%;
  position: fixed;
  margin-top: 0;
  border-bottom: 3px salmon solid;
}
section {
  margin-top: 40px;
  flex: 1;
}

.container-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
}

.box {
  width: 600px;
  height: 100px;
  border: solid red 1px;
  padding: 10px;
  text-align: justify;
  margin-top: 10px;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  font-size: small;
}

.container-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: blueviolet;
  width: 800px;
  height: 700px;
}

.name-img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#name-img {
  width: 250px;
  margin-top: 50px;
}

.container-hobby {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hobbies {
  display: flex;
}

.card {
  background-color: #f7990c;
  color: white;
  margin: 20px;
  padding: 15px;
  flex: 1;
  box-shadow: 0 2px 5px black;
  border-radius: 20px;
  opacity: 1;
}

.card-img {
  width: 400px;
  height: 220px;
}
