@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");
@import url("https://fonts.cdnfonts.com/css/antique-olive");

:root {
  --primary-color: #202731;
  --secondary-color: #3b485b;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y;
  /* mandatory; */
}

body {
  color: white;
  background-color: #202731;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  position: relative;
}
body::-webkit-scrollbar {
  display: none;
}

/* navbar start */
.navbar {
  width: 100%;
  height: 7vh;
  min-height: 65px;
  background-color: var(--primary-color);
  z-index: 5;
  display: flex;
  justify-content: center;
  position: fixed;
  border-bottom: 2px dashed;
  opacity: 0.9;
}

.navbar .menu-container {
  display: flex;
  width: 75vw;
  justify-content: space-evenly;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 20px;
  cursor: pointer;
}

/* navbar end */

/* section start */
section {
  display: grid;
  place-items: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  scroll-snap-align: start;
}

.home-container {
  width: 50vw;
  height: 45vh;
}

.text-name {
  font-size: calc(100vw / 50);
}

.text-animated {
  font-size: calc(100vw / 20);
}

.static-sentence span {
  color: #0ef;
  text-shadow: 0 0 10px #0ef;
}

.skills {
  width: 58vw;
  /* background-color: var(--secondary-color); */
  color: white;
  /* border: 1px solid;
  border-radius: 30px; */
  font-size: 35px;
  /* padding: 10px 30px; */
}

.skill-icon {
  position: absolute;
  width: 6vw;
  aspect-ratio: 1/1;
  background-size: cover;
  /* top: -30px; */
  z-index: 0;
  top: 50%;
  left: 50%;
  animation: floaticon 10s ease-in-out infinite;
}

@keyframes floaticon {
  0% {
    scale: 2;
  }
  25% {
    transform: translateY(15px) translateX(-15px) rotate(10deg);
  }
  50% {
    transform: translateX(-15px) rotate(-6deg);
  }
  100% {
    scale: 2;
  }
}

.html {
  top: 20%;
  left: 13%;
  background-image: url(/assets/html.png);
}

.skill-icon:hover {
  background-color: transparent;
}

.html-background {
  background-color: #ee926b;
  z-index: -3;
  filter: blur(30px);
}

.css {
  top: 18%;
  left: 45.5%;
  background-image: url(/assets/css-3d.png);
}
.css-background {
  background-color: #5b98e6;
  z-index: -3;
  filter: blur(30px);
}

.javascript {
  top: 20%;
  left: 79.5%;
  background-image: url(/assets/javascript_new_color-removebg-preview.png);
}
.javascript-background {
  background-color: #f0db4f;
  z-index: -3;
  filter: blur(30px);
}

.react {
  top: 80%;
  left: 30%;
  background-image: url(/assets/reactjs.svg);
}
.react-background {
  background-color: #5b98e6;
  z-index: -3;
  filter: blur(30px);
}

.java {
  top: 75%;
  left: 65%;
  background-image: url(assets/java-svg.svg);
}
.java-background {
  background-color: #e76f00;
  z-index: -3;
  filter: blur(30px);
}

.projects::before {
  content: "Here some of them";
  position: absolute;
  /* width: 200px; */
  font-size: 35px;
  height: 100px;
  /* background-color: white; */
  top: 89%;
  left: 50%;
  transform: translateX(-167px) perspective(400px) rotateX(43deg);
}

.projects {
  display: grid;
  align-content: center;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-wrapper {
  padding-block: 100px;
}

.swiper-slide {
  aspect-ratio: 7/6;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.55), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(15px);
  position: relative;
}

.swiper-slide-active:hover {
  animation: scaleup 1.5s ease-in-out forwards;
}

@keyframes scaleup {
  to {
    background-size: 160%;
  }
}

@keyframes scaledown {
  to {
    background-size: 150%;
  }
}

.slide-background {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.kelar-in {
  background-image: url(/assets/kelarin-ilustration.jpg);
  background-size: 150%;
}

.timeless {
  background-image: url(/assets/timeless.jpg);
  background-size: 150%;
}

.tower {
  background-image: url(/assets/hardwork.jpg);
  background-size: 150%;
}
.flower {
  background-image: url(/assets/flower.jpg);
  background-size: 150%;
}
.room {
  background-image: url(/assets/room.jpg);
  background-size: 150%;
}
.experiment {
  background-image: url(/assets/experiment.jpg);
  background-size: 150%;
}

.icon {
  width: 10%;
  aspect-ratio: 1/1;

  background-color: #2a2a2a;
  border-radius: 15%;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  padding: 5px;
}
.react-icon {
  background-image: url(/assets/reactjs.svg);
}

.tailwind-icon {
  background-image: url(/assets/tailwind-svgrepo-com.svg);
}

.java-icon {
  background-image: url(/assets/java-svg.svg);
}

.mysql-icon {
  background-image: url(/assets/mysql-logo-svgrepo-com.svg);
}

.firestore-icon {
  background-image: url(/assets/firestore-svgrepo-com.svg);
}

.slide-tech-stack {
  display: none;
}

.slide-tech-stack-frontend {
  position: absolute;
  left: -5%;
  bottom: 25%;
  width: 100%;
  display: flex;
  gap: 1%;

  animation: cardinfo 1.5s ease-in-out forwards;
}
.slide-tech-stack-backend {
  position: absolute;
  left: -5%;
  bottom: 8%;
  width: 100%;
  display: flex;
  gap: 1%;

  animation: cardinfo 1.5s ease-in-out forwards;
}
.slide-tech-stack-db {
  position: absolute;
  left: -5%;
  bottom: -9%;
  width: 100%;
  display: flex;
  gap: 1%;

  animation: cardinfo 1.5s ease-in-out forwards;
}

.slide-info-brief {
  font-size: 25px;
  position: absolute;
  left: -5%;
  top: 5%;
  width: 100%;

  display: none;
  animation: cardinfo 1.5s ease-in-out forwards;
}

.slide-info-footer {
  font-family: "Antique Olive", sans-serif;
  font-size: 35px;
  line-height: 48px;
  font-weight: 900;
  letter-spacing: -3px;

  position: absolute;
  left: -5%;
  top: -10%;
  width: 80%;
  display: none;
  animation: cardinfo 1.5s ease-in-out forwards;
}

.swiper-slide-active:hover > .slide-tech-stack,
.swiper-slide-active:hover > .slide-info-brief,
.swiper-slide-active:hover > .slide-info-footer {
  display: block;
}

/* .swiper-slide-active:hover::after{
  display: block;
} */

@keyframes cardinfo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-20%);
  }
}

.blob-container {
  position: relative;
  top: 0;
  width: 100vw;
  height: 10vh;
}

.blob-container h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-93.7px);
}

.blob {
  position: absolute;
  transform: scale(1.6);
}

.blob:nth-child(2) {
  filter: blur(30px);
}

.contact-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 60vw;
  align-items: center;
  gap: 7vh;
  top: 25%;
}

.contact-icon-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.contact-icon-wrapper a {
  width: 200px;
  height: 200px;
  padding: 0;
  margin: 0;
  background-size: cover;
  animation: float 10s ease-in-out infinite;
  z-index: 7;
}

.contact-icon-wrapper a:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
  filter: brightness(1.115);
}

@keyframes float {
  25% {
    transform: translateY(15px) rotate(10deg);
  }
  50% {
    transform: translateX(-15px) rotate(-6deg);
  }
}

.github {
  background-image: url(/assets/github-3d-icon.png);
  transform: translateY(-15px);
}
.linkedin {
  background-image: url(/assets/linkedin-3d-icon.png);
  transform: rotate(-14deg);
}
.twitter {
  background-image: url(/assets/instagram-3d.png);
  transform: translateY(-17px);
}

/* section end */

/* footer start */

footer {
  display: grid;
  place-items: center;
  align-content: center;
  background-color: #888277;
  padding-block: 10px;
}
/* footer end */

/* utility class start */
.hidden {
  opacity: 0;
  transition: all 1s;
  /* filter: blur(5px); */
  /* transform: translateX(-50%) ; */
}
.show {
  opacity: 1;
  /* filter: blur(0); */
  /* transform: translateX(0); */
}

#magiclight-blurry {
  width: 400px;
  aspect-ratio: 1/1;
  z-index: -100;
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, tomato, mediumpurple);
  animation: rotate 20s infinite;
  filter: blur(100px);
}
#blurry-mouse-tail {
  display: fixed;
  z-index: -99;
  /* backdrop-filter: blur(100px); */
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  50% {
    scale: 1 1.5;
  }
  to {
    rotate: 360deg;
  }
}

/* utility class end */

@media (max-width: 600px) {
  /* .home-container{
    width: 70vw;
  } */

  .home-container .text-name {
    font-size: 5vw;
  }
  .home-container .text-animated {
    font-size: 10vw;
  }

  .projects {
    font-size: 10px;
  }

  .contact-container {
    top: 20px;
  }
  .contact-icon-wrapper {
    flex-direction: column;
  }
}
