---
import { profileLink } from '../data/profileLink.ts'
import LinkSpan from './LinkSpan.astro'
---

<footer
	class="mt-8 text-sm flex flex-col sm:flex-row justify-between border-t-2 px-5 pb-6 pt-12 [text-wrap: balance] text-center text-content/60 max-sm:pb-3 max-sm:pt-8 sm:mx-[10vw]"
>
	<p class="">
		Copyright 2023.
		<LinkSpan link={profileLink.linkedin} content="ichsansandy" />
	</p>
	<p>
		Built using <LinkSpan link="https://astro.build/" content="Astro" /> and <LinkSpan
			link="https://tailwindcss.com/"
			content="Tailwind"
		/>
	</p>
</footer>
