---
interface Props {
	link: string
	content: string
}

const { link, content } = Astro.props
---

<span class="underline decoration-accent hover:text-accent hover:no-underline">
	<a href={link} target="_blank" referrerpolicy="no-referrer"> {content}</a>
</span>
