---
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
import { ViewTransitions } from 'astro:transitions'
interface Props {
	title: string
	author?: string
}

const { title, author } = Astro.props
---

<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | {author || 'Ichsan Sandy'}</title>
		<ViewTransitions />
	</head>
	<body class="relative bg-background text-content no-scrollbar">
		<Navbar />
		<div class="">
			<slot />
		</div>
		<Footer />
	</body>
</html>
	<script>
		const setTheme = () => {
			const sun = document.querySelector('#sun')
			const getTheme = () => localStorage.getItem('theme') || 'light'
			document.documentElement.setAttribute('data-theme', getTheme())
			getTheme() === 'light' ? sun?.classList.remove('night') : sun?.classList.add('night')
			const button = document.querySelector('#darkmodebutton')
			if (button) {
				const isEventListenerAttached = button.hasAttribute('data-event-listener')
				if (!isEventListenerAttached) {
					button.addEventListener('click', () => {
						console.log('click okay')
						const sun = document.querySelector('#sun')
						sun?.classList.toggle('night')
						const nextTheme = getTheme() === 'light' ? 'dark' : 'light'
						localStorage.setItem('theme', nextTheme)
						document.documentElement.setAttribute('data-theme', nextTheme)
					})
				}
			}
		}

		setTheme()
		document.addEventListener('astro:after-swap', setTheme)
	</script>

	<style>
		@tailwind base;
		@tailwind components;
		@tailwind utilities;

		@layer base {
			:root {
				--color-bkg: 210deg 40% 98%;
				--color-content: 217deg 32.6% 17.5%;
				--color-accent1: 288deg 95.8% 90.6%;
				--color-accent2: 168deg 83.8% 78.2%;
			}
			@media (prefers-color-scheme: dark) {
				:root {
					--color-bkg: 217deg 32.6% 17.5%;
					--color-content: 210deg 40% 98%;
					--color-accent1: 288deg 95.8% 60.6%;
					--color-accent2: 168deg 83.8% 48.2%;
				}
			}
			:root[data-theme='dark'] {
				--color-bkg: 217deg 32.6% 17.5%;
				--color-content: 210deg 40% 98%;
				--color-accent1: 288deg 95.8% 60.6%;
				--color-accent2: 168deg 83.8% 48.2%;
			}
			:root[data-theme='cool'] {
				--color-bkg: 217deg 32.6% 57.5%;
				--color-content: 210deg 40% 38%;
				--color-accent1: 288deg 95.8% 80.6%;
				--color-accent2: 168deg 83.8% 48.2%;
			}
		}
	</style>
